.container {
  padding: 0 2rem;
}

.main {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  /* border: 2px solid blue; */
}
.right{
  width: 40%;
}
.heroBannerContainer{
  height: 500px;
}
.heroBannerImage{
  width: 450px;
  height: 450px;
  right: 20%;
  position: absolute;
  top: 0;
  right: 20%;
}
.footerBannerImage{
  top: -50%;
  left: 15%;
}
.footerBannerContainer{
  max-height: 600px;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.track{
  /* will-change: transform; */
  animation: carousel 15s linear infinite;
  position:absolute;
  width: 180%;
}
.track:hover{
  animation-play-state: paused;
}

@keyframes carousel {
    from {transform: translateX(0);}
    to {transform: translateX(-50%)}
}


@media (max-width: 800px) {
  .heroBannerContainer {
    height: 560px;
  }
  .heroBannerImage{
    width: 65%;
    height: 65%;
    position: absolute;
    right: -2%;
    top: 8%;
  }
  .footerBannerImage{
    width:  75%;
    height: 75%;
    top: -35%;
    left: 4%;
  }
  .track{
    width: 550%;
  }
}

@media (max-width: 600px) {
  .right{
    width: 80%;
  }
  .footerBannerImage{
    width:  50%;
    height: 50%;
    top: 4%;
    left: 47%;
  }
  .footerBannerContainer{
    max-height: 800px;
  }
  .heroBannerContainer{
    max-height: 700px;
  }
}